<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <h1>Hello customer!</h1>
    <p>I am a vending machine! On offer are:</p>
    <table>
      <tr>
        <th><img class="product-img" src="https://www.americansweets.co.uk/image/cache/catalog/american-soda/coca-cola/coca-cola-classic-can-800x800.png" alt=""></th>
        <th><img class="product-img" src="http://www.poisonmushroom.org/content/uploads/2013/09/slide_279895_2085668_free-201x300.jpg" alt=""></th>
        <th><img class="product-img" src="https://mylittleamerica.com/935-large_default/charms-fluffy-stuff-cotton-candy.jpg" alt=""></th>
      </tr>
      <tr>
        <th>$ <%= pCoke.price %></th>
        <th>$ <%= pChips.price %></th>
        <th>$ <%= pCandy.price %></th>
      </tr>
      <tr>
        <th><%= pCoke.stock %> left</th>
        <th><%= pChips.stock %>  left</th>
        <th><%= pCandy.stock %>  left</th>
      </tr>
      <tr>
        <th>
          <button class="buy-item-btn" id="coke" data-stock="<%= pCoke.stock %>" value="<%= pCoke.price %>" onclick="BuyItem(this.id)" type="button" name="button">Buy this</button>
        </th>
        <th>
          <button class="buy-item-btn" id="chips" data-stock="<%= pChips.stock %>" value="<%= pChips.price %>" onclick="BuyItem(this.id)" type="button" name="button">Buy this</button>
        </th>
        <th>
          <button class="buy-item-btn" id="candy" data-stock="<%= pCandy.stock %>" value="<%= pCandy.price %>" onclick="BuyItem(this.id)" type="button" name="button">Buy this</button>
        </th>
      </tr>
    </table>
    <div>
      <div class="screen-container">
        <p class="screen-text">
          <span id="warning-message"> <br></span>
          INSERT COIN
          <br>
          <br>
          <span id="current-coin-value">$0.00</span>
        </p>

      </div>
      <select id="coinValue">
        <!-- <option value="19.05_1.52_2.5">Penny</option> -->
        <option value="21.21_1.95_5">Nickel</option>
        <option value="17.91_1.35_2.268">Dime</option>
        <option value="24.26_1.75_5.67">Quarter</option>
        <option value="25_2_6">Coin not mentioned above</option>
      </select>
      <button onclick="AddCoins()">Submit</button>
    </div>
    <script>
    //disable all buying buttons
    document.querySelectorAll(".buy-item-btn").forEach(function(button){
      button.disabled=true;
    });

    function AddCoins(){
      let totalMoneyInserted;
      const coinValue=document.getElementById("coinValue").value;
      const whatToPass={
        headers:{
          "content-type":"application/json; charset=UTF-8"
        },
        body: JSON.stringify({"coinValue": coinValue}),
        method:"POST"
      };

      fetch("/", whatToPass)
      .then(function(data){return data.json()})
      .then(totalCoins=>{
        totalMoneyInserted=totalCoins.totalCoinsInserted;
        document.getElementById("current-coin-value").innerHTML="$"+parseFloat(totalMoneyInserted).toFixed(2);
        let warningElement= document.getElementById("warning-message");
        if (totalCoins.warningMessage){
          warningElement.innerHTML=totalCoins.warningMessage+"<br>";
          console.log(warningElement);

        }else{
          warningElement.innerHTML="<br>";
        };
        //do other code after getting hold of the value
        document.querySelectorAll(".buy-item-btn").forEach(function(button){
          //if enough money for any product (and if in stock) then
          if(button.value<=totalMoneyInserted && button.dataset.stock>0){
            button.disabled=false;
          }else{
            button.disabled=true;
          };

        })
      })
    };

    function BuyItem(item){
      console.log(item);

      const itemBought=item;
      location.replace("/?item="+itemBought);
      // res.redirect("/?"+itemBought);
      // const whatToPass={
      //   headers:{
      //     "content-type":"application/json; charset=UTF-8"
      //   },
      //   body: JSON.stringify({"itemBought": itemBought}),
      //   method:"GET"
      // };
      //
      // fetch("/thank-you", whatToPass);
      // .then(function(data){return data.json()})
      // .then(itemDetails=>{
      // //   totalMoneyInserted=totalCoins.totalCoinsInserted;
      //   console.log(itemDetails);
      //   // const stockleft=itemDetails.matchedStock;
      //   document.getElementById(itemDetails.matchedStock).innerHTML=itemDetails.matchedStock+" left";


    };
    </script>
  </body>
</html>
